runpod>=1.6.0
torch>=2.0.0
torchvision
diffusers>=0.24.0
transformers>=4.36.0
accelerate>=0.24.1
bitsandbytes>=0.41.3
xformers>=0.0.22
peft
safetensors
requests
cloudinary
opencv-python
pillow
numpy
wandb